<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset=" UTF-8">
        <link rel = "stylesheet" href ="static/basic.css">
        <title>Rate My Classes</title>
    </head>
    <body>
        <br>
        <h1>Welcome To Rate My Class</h1>
        <div class="navbar">
            <ul>
                <li><a href="/base">Home</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/professors">Professors</a></li>
            </ul>
        </div>
         <img src="/static/schoolpic.jpg" style="height:400px; width:800px; margin:150px; float:center;">
        
    </body>
</html>