<!DOCTYPE>
<html lang = "en">
    <head>
        <meta charset=" UTF-8">
        <link rel = "stylesheet" href ="static/classes.css">
        <title>Classes</title>
    </head>
    <body> 
        <br>
        <h1>Welcome To Rate My Class</h1>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="">Professors</a></li>
            </ul>
        </div>
         <img src="/static/classroomSetting.jpg" style="height:400px; margin:100px; float:center;">
        
    </body>
</html>

</html>